.stand {
    display: flex;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 370px;
    width: 100%;
    margin-right: 135px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-left: auto;
}