.button {
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}

.disabled {
    background: #004D99;
    border-radius: 3px;
    color: #002E5C;
    cursor: no-drop;
}

.secondary {
    border: 1px solid #0066CC;
    color: #0066CC;
    background: transparent;
}

.default {
    background: #0066CC;
}

.red {
    background: #CC1439;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: #0059B2;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B21232;
}

.button:disabled {
    opacity: 0.5;
}
